/* Fira Code */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

@font-face {
    font-family: "CMU Serif Roman";
    src: url('/fonts/cmunrm.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "CMU Serif Roman";
    src: url('/fonts/cmunbx.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}